model/seed_0/checkpoint-3300/optimizer.pt
model/seed_1/checkpoint-3300/optimizer.pt
model/seed_1/checkpoint-990/optimizer.pt
model/seed_2/checkpoint-3300/optimizer.pt
model/seed_3/checkpoint-3300/optimizer.pt
model/seed_4/checkpoint-3300/optimizer.pt
model/seed_5/checkpoint-3300/optimizer.pt
model/seed_6/checkpoint-3300/optimizer.pt
model/seed_7/checkpoint-3300/optimizer.pt
model/seed_8/checkpoint-3300/optimizer.pt
model/seed_9/checkpoint-3300/optimizer.pt
model_last/checkpoint-1100/optimizer.pt
